.main-footer {
  padding: 2% 0%;
  display: flex;
  justify-content: center;
  background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/film-movie-maker-youtube-channel-art-banner-design-template-452b518153abfc71ca929b93e3fc267f_screen.jpg?ts=1588568089);

  .text-footer {
    color: aliceblue;
    font-weight: bold;
    font-size: 1.8em;
    font-family: 'Rubik Iso', cursive;
  }
}