.list-page {
    color: white;
    overflow-x: auto;
    margin-top: 2em;  
    border-bottom: solid 2% #ac2e01;
  
    .cards-page {

      .card-page {
        height: 300px;
        border: 0.2px solid #ac2e01;
        margin: 1em;
        &:hover {
          transform: scale(1.1);
          transition-duration: 0.8s;
          filter: grayscale(80%);
        }
      }
    }
  }